{{template "headers" .}}

{{template "imports" .}}

var streamIdLength = 24
var statusLength = 8
var streamStatusMask uint32 = 0xFF000000

{{template "errors" .}}

{{template "enums" .}}

{{template "messages" .}}

{{template "interfaces" .}}

{{ if .numServices }}
{{template "server" .}}

{{template "client" .}}
{{ end }}